 //font
 $font: Jost;
 
 //colors
  //basic
  $justwhite: #ffffff;
  $pureblack: #000000;
  $primary: #c23f55;
  $secondary: #f07a65;

  //purples
  $lightPurple: #2a1547;
  $darkerPurple: #160b25;
  $almostPurple: #160b25;
  $purple: #0e0718;

  //darkmode text colors
  $fullWhite: hsla(0, 0%, 100%, 0.87);
  $mediumWhite: hsla(0, 0%, 100%, 0.6);
  $disabledWhite: hsla(0, 0%, 100%, 0.38);
  
  //dark colors
  $lightDark: #3d3d3d;
  $darkerDark: #252525;
  $almostDark: #1f1f1f;
  $dark: #111111;

  //background
  $bc: $purple;